<h1>Game#gameplay</h1>
<p>Find me in app/views/game/gameplay.html.erb</p>

<p><%= @guesses %> guesses left</p>

<p><%= pattern %></p>

<p><% if finished? %>
    <% if guessed? %> You successfully guessed the word! :)
    <% else %> No, no... You didn't find the word :(
    <% end %>
<% end %></p>

        <%= form_for :game, :url => game_path, :method => :patch do |form| %>
            <div class="row">
                <div class="letters">
                    <% ('a'..'z').each do |letter| %>
                        <% button_class = "marked" if letters.include? letter %>
                        
                        <div class="small-2 medium-2 columns text-center">
                            <div class="letter">
                                <%= form.submit letter, :name => 'letter', :class => "button expand #{button_class}" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>

<p><%= link_to root_path(:method => :delete), :class => 'button expand' do %>
     Home
<% end %></p>

<p><% unless finished? %>
        <%= link_to game_path, :class => 'button expand alert', :method => :delete do %>
             Cancel game
        <% end %>
<% end %></p>
