<% provide(:title, "Game") %>
<h1>Evil Hangman</h1>
<p>Welcome, <%= @user.name %>. Lets play hangman. </p>


					<ul class = "theWord">
                    <% current_game.word.split('').each do |letter| %>
                            <li>

                                <%= current_game.finished? || current_game.selected_letters.include?(letter) ? letter : '_' %>
                            </li>
                    <% end %>
                    </ul>
                <% if @current_game.attempts == 1 %>
                <p>You have made <%= @current_game.failed_attempts %> wrong guess out of <%=current_game.guessesAllowed%>.</p>
                <%else%>
                <p>You have made <%= @current_game.failed_attempts %> wrong guesses out of <%=current_game.guessesAllowed%>.</p>
                <%end%>

        <% if current_game.finished? %>
        	<% games = @user.games+1 %>
        	<%@user.update_attribute(:games, games) %>
                    <% if current_game.guessed? %>
                        <p>You successfully guessed the word!</p>
                        <p>Your score: <%=@score = 26-current_game.failed_attempts %></p>
                        <%if @user.high < @score%>
                        <% @user.update_attribute(:high, @score) %>
                        <%end%>
                    <% else %>
                        <p>You did not guess the word...</p>
                        <p>Your score: <%=@score = current_game.attempts - current_game.failed_attempts %></p>
                        <%if @user.high < @score%>
                        <% @user.update_attribute(:high, @score) %>
                        <%end%>
                    <% end %>
                    <%= link_to "Play again?", new_game_path, class: "btn btn-lg btn-primary"%>
        <% end %>

        <% if !current_game.finished? %>
        <div id = "letterChooser">
        <%= form_for :game, :url => game_path, :method => :patch do |form| %>
                    <% ('A'..'Z').each do |letter| %>
                        <%
                            if current_game.selected_letters.include? letter
                                button_class = current_game.word.include?(letter) ? 'success' : 'alert'
                            end
                        %>
                                <%= form.submit letter, :name => 'letter', :class => "button expand #{button_class}" %>
                    <% end %>
        <% end %>
        </div>
        <%end%>