<h1> Leaderboard:</h1>
<div class = "readable">
<table>
<th>Position</th><th>Username</th><th>High Score</th><th>Games Played</th>
<tr><td>1</td><td><%= @user.name %></td><td><%= @user.high %></td><td><%= @user.games %></td></tr>
<tr><td>2</td><td><%= @second.name %></td><td><%= @second.high %></td><td><%= @second.games %></td></tr>
<tr><td>3</td><td><%= @third.name %></td><td><%= @third.high %></td><td><%= @third.games %></td></tr>
<tr><td>4</td><td><%= @fourth.name %></td><td><%= @fourth.high %></td><td><%= @fourth.games %></td></tr>
<tr><td>5</td><td><%= @fifth.name %></td><td><%= @fifth.high %></td><td><%= @fifth.games %></td></tr>
<tr><td>6</td><td><%= @sixth.name %></td><td><%= @sixth.high %></td><td><%= @sixth.games %></td></tr>
<tr><td>7</td><td><%= @seventh.name %></td><td><%= @seventh.high %></td><td><%= @seventh.games %></td></tr>
<tr><td>8</td><td><%= @eigth.name %></td><td><%= @eigth.high %></td><td><%= @eigth.games %></td></tr>
<tr><td>9</td><td><%= @ninth.name %></td><td><%= @ninth.high %></td><td><%= @ninth.games %></td></tr>
<tr><td>10</td><td><%= @tenth.name %></td><td><%= @tenth.high %></td><td><%= @tenth.games %></td></tr></table></div>
